* { box-sizing: border-box; margin: 0 auto;}

$grey: #F5F8FA;
$organge: #F2850F;
$blue: #55ACEE;
$white:  #FFFFFF;
$red: #DD2E44;
$black:#000000;
$default-font: "Arial Black", Gadget, sans-serif;

@mixin button ($width: auto, $height: auto, $margin-bottom: auto) {
    background-color: $blue;
    color: $white;
    padding: 1rem;
    border-radius: 6px;
    border: none;
    text-align: center;
    font-family: $default-font;
    font-size: 2rem;
    text-decoration: none;
    min-width: $width;
    height: $height;
    margin-bottom: $margin-bottom;
}

body {
    font-family: $default-font;
}
.link {
    text-align: center;
}
.link a {
    color: $organge;
    text-decoration: none;
}
.logo {
    display: block;
    max-height: 30vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.background-1 {
    background-color: $grey;
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 2rem;
    border-radius: 15px;
    justify-content: center;
    margin-bottom: 2rem;
    label {
        color: $organge;
        font-size: 2rem;
    }
    input {
        border-radius: 7px;
        border: none;
        padding: 1rem;
        margin-bottom: 2rem;
        height: 6vh;
        width: 50vw;
        font-size: 2rem;
    }
}
.actionBtn {
    @include button;
}

#welcome > .actionBtn {
    @include button(50vw, auto, 4vw)
}

h1.welcome-txt {
    color: $organge;
    margin-bottom: 1rem;
}


@media (max-width: 374px) {
    #welcome > .actionBtn {
        @include button(60vw, auto, 4vw)
    }
    .background-1 {
        width: 80vw;
    }
}
@media (max-width: 480px) {}
@media (max-width: 768px) {
    .welcome-txt.top {
        display: none;
    }
}
@media (max-width: 992px) {}
@media (max-width: 1200px) {}