<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./public/index.css">
  </head>
  <body class="homepageBody">
    <div class="sideNavHome">
      <div class="profileImg"></div>
        <div class="navLinks">
          <ul>
            <li>{{username}}</li>
            <a href="/settings/{{id}}">Settings</a>
            <form class="" action="/logout" method="post">
              <button type="submit" name="button" class="logoutButton"><li>logout</li></button>
            </form>
          </ul>
        </div>
      </div>
    </div>
    <img src="./public/icons/like.png" alt="like button" height="42" width="42">
    <button type="submit" formmethod="post" id="like-btn">Like</button>
    <a href="/club/roster">Click here to join clubs and start seeing posts on your homepage!</a>
  </body>
</html>
