<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <div class="sideNav">
      <div class="profileImg">

      </div>
    <div class="navLinks">
      <ul>
      <li>{{username}}</li>
      <a href="/newgab"><li>new gab</li></a>
      <li>logout</li>
      </ul>
    </div>
    </div>

  </body>
</html>
