{{! rename to userHome }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body class="homepageBody">
    <div class="sideNavHome">
      <div class="profileImg">

      </div>
    <div class="navLinks">
      <ul>
      <li>{{username}}</li>
      <a href="/newgab"><li>new gab</li></a>
      <form class="" action="/logout" method="post">
        <button type="submit" name="button" class="logoutButton"><li>logout</li></button>
      </form>
      </ul>
    </div>
    </div>
<div class="gabsSection">
  {{#gabs}}
  <ul>
    <li class="eachGab">{{body}}</li>
  </ul>
  {{/gabs}}
</div>
  </body>
</html>
