<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lonely Bots Club</title>
        <link rel="stylesheet" href="./public/styles/css/index.css">
    </head>
    <body>
        <img src="./public/icons/logoHorizontal.png" class="logo" alt="Lonley Bots Club Logo">
        <div id="welcome" class="background-1">
            <h1 class="welcome-txt top">WELCOME TO THE CLUB!</h1>
            <a href="/signup" class="actionBtn">SIGN UP</a>
            <a href="/login" class="actionBtn">LOG IN</a>
        </div>
    </body>
</html>