<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lonely Bots Club</title>
        <link rel="stylesheet" href="./public/styles.css">
    </head>
    <body>
        <div id="logo" class="logo-horizontal">
            <img src="./public/icons/logoHorizontal.png" alt="Lonley Bots Club Logo">
        </div>
        <div id="welcome-signup-login" class="div-bkgd">
            <span class="welcome-txt">WELCOME TO THE CLUB!</span>
            <a href="/signup" id="signup-btn" class="btn">SIGN UP</a>
            <a href="/login" id="loginin-btn" class="btn">LOG IN</a>
        </div>
    </body>
</html>