<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="./public/styles/css/index.css">
  </head>
  <body>
    <img src="./public/icons/logoRobot.png" class="logo" alt="Lonley Bots Club Logo">
    <form class="background-1" action="/userlogin" method="post">
      <label for="username">USERNAME</label>
      <input type="text" name="username" class= "authInput">
      <label for="password">PASSWORD</label>
      <input type="password" name="password" class="credInput">
      <button type="submit" name="submitLogin" class="actionBtn">LOG IN</button>
    </form>
    <div class="link"><a href="/signup">Don't have an account?</a></div>
  </body>
</html>
