.loginSignupBody {
  background-color: #DBE7E8;
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   color: #95989A;
   display: flex;
  justify-content: center;
}

.login {
  display: flex;
    justify-content: center;
}

.userInfoInput {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.loginHeader {
  color: #DBE7E8;
display: flex;
justify-content: center;
font-size: 50px;
margin: 5%;
margin-bottom: 2%;
}
.loginBlock {
  background-color: #688BFF;
  width: 50em;
      height: 30em;
      border-radius: 4em;
      box-shadow: 40px 20px 0px #415496;
          margin-top: 5%;
}

.loginInput {
  background-color: #DBE7E8;
    border: none;
    border-radius: 10px;
    display: flex;
    padding: 5%;
    width: 20em;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 20px;
}

.loginbutt {
  display: flex;
    border: none;
    background-color: #DBE7E8;
    padding: 5%;
    border-radius: 10px;
    justify-content: center;
    width: 30%;
    margin-top: 5%;
    color: #717475;
    font-size: 20px;
}

.signupInput {
  background-color: #DBE7E8;
  border: none;
  border-radius: 10px;
  display: flex;
  padding: 6%;
  width: 20em;
  margin-bottom: 5%;
  margin-top: 5%;
  font-size: 15px;
}

.signupHeader.a {
  display: flex;
    background-color: #688BFF;
    width: 50px;
    padding: 2px;
    border-radius: 4em;
}


.newGabBody {
  background-color: #DBE7E8;
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   display: flex;
}
/*Nav Bar*/
.sideNav {
  background-color: rgba(104, 139, 255, 0.5);
  color: white;
  width: 25%;
}
.profileImg {
  width: 6em;
height: 6em;
background-color: white;
border-radius: 50%;
}
